.features {
  padding-top: 60px;
  background: $pri-background-color;

  @media screen and (min-width: $desktop-width) {
    padding-top: 94px;
  }

  &__list {
    @media screen and (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media screen and (max-width: 1199px) {
      padding-bottom: 30px;
    }
  }

  &__item {
    margin-bottom: 30px;

    @media screen and (min-width: $tablet-width) and (max-width: 1199px) {
      width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: $desktop-width) {
      width: calc((100% - 90px) / 4);
      margin-bottom: 0;
    }
  }

  &__thumb {
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    border-radius: 4px;

    background-color: $sec-background-color;
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $pri-text-color;

    @media screen and (min-width: $tablet-width) {
      text-align: left;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    color: $sec-text-color;

    @media screen and (min-width: $tablet-width) {
      text-align: left;
    }
  }
}
