// Лого
.logo {
  display: flex;
  align-items: center;
  font-family: $sec-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: #2196f3;

  // Лого-хедер
  &--header {
    color: #000000;
  }
  
  // Лого-футер
  &--footer {
    color: #ffffff;
  }
}