.menu {
  display: flex;

  font-weight: 500;
  margin-left: 88px;

  @media screen and (min-width: $desktop-width) {
    margin-left: 93px;
  }
  

  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    padding: 48px 40px;

    line-height: 1.7;
    letter-spacing: 0.02em;
    
    background-color: $pri-background-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);    
  }

  &.is-open {
    display: block;
  }
}

.menu-button {
  margin-left: auto;
  padding: 11px;
  background-color: transparent;
  border: none;

  @include transition(color);

  z-index: 10;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  .menu-icon{
    fill: currentColor;
  }

  .icon-close {
    display: none;
  }

  .icon-menu {
    display: block;
  }

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.menu-button.is-open {
  .icon-close {
    display: block;
  }

  .icon-menu {
    display: none;
  }
}
