.menu {
  display: none;
  font-weight: 500;

  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100vh;

    line-height: 1.7;
    letter-spacing: 0.02em;

    background-color: $pri-background-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }

  &.is-open {
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
}

.menu-button {
  padding: 11px;
  background-color: transparent;
  border: none;

  @include transition(color);

  z-index: 99;

  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }

  .menu-icon {
    fill: currentColor;
  }

  .icon-close {
    display: none;
  }

  .icon-menu {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-button.is-open {
  .icon-close {
    display: block;
  }

  .icon-menu {
    display: none;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  padding: 48px 40px;

}

.mob-nav__list {
  display: flex;
  flex-direction: column;
}

.mob-nav__item:not(:last-child),
.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  font-size: 40px;
  color: $pri-text-color;
}

.mob-nav__link--current {
  color: $accent-color;
}

.mob-contacts {
  display: flex;
  flex-direction: column;

  margin-bottom: 64px;

  .tel {
    font-size: 34px;
    color: $accent-color;
  }

  .mail {
    font-size: 24px;
    color: $sec-text-color;
  }
}

.mob-social {
  display: flex; 

  &__link {
    font-size: 18px;
    color: $accent-color;
  }
}
.mob-social__item:not(:last-child){
  position: relative;
  margin-right: 21px;

   &::after {
    position: absolute;
    right: -10px;
    bottom: 0;

    content: "";
    width: 1px;
    height: 100%;

    background-color: rgba(33, 33, 33, 0.2);
  }
}