.social-header__list {
  display: flex;

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.social-header__item:not(:last-child) {
  position: relative;
  margin-right: 21px;

  &::after {
    position: absolute;
    right: -10px;
    bottom: 0;

    content: "";
    width: 1px;
    height: 100%;

    background-color: rgba(33, 33, 33, 0.2);
  }
}

.social-header__link {
  color: $accent-color;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;

  letter-spacing: 0.02em;
}
