// Основные цвета текста
$pri-text-color: #212121;
$sec-text-color: #757575;

// Основные цвета иконок
$pri-icon-color: #afb1b8;
$sec-icon-color: #ffffff;

// Акцент
$accent-color: #2196f3;

// Основные цвета фона
$pri-background-color: #ffffff;
$sec-background-color: #f5f4fa;
$hero-background-color: #c4c4c4;
$footer-background-color: #2f303a;

// Длительность CSS-перехода
$time-duration: 250ms;

// Кубик Безье
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

// Оформление шрифтов
$pri-font: 'Roboto', sans-serif;
$sec-font: 'Raleway', sans-serif;

// Точки перелома
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;